body {
  background: #F9F9F9;
  font-family: Calibri;
  font-size: 18px;
}

h2 {
  font-size: 40px;
  margin-top: 6px;
  margin-bottom: 10px;
}

#progressContainer {
  width: 396px;
  height: 36px;
  background: #F8F8F8;
  margin-top: 14px;
  border: 1px solid #E8E8E8;
  border-top: 1px solid #D8D8D8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2px;
}

#progressBar {
  height: 100%;
  width: 0%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: -moz-linear-gradient(top, #a50aad 0%, #6b0d6b 50%, #a50aad 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a50aad), color-stop(50%,#6b0d6b), color-stop(100%,#a50aad)); 
  background: -webkit-linear-gradient(top, #a50aad 0%,#6b0d6b 50%,#a50aad 100%); 
}

#uploadbox {
  background: #FFF;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -150px;
  height: 200px;
  width: 400px;
  border: 1px solid #DFDFDF;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
}

button.btn {
  font-size: 18px;
  padding: 8px 30px;
  border-radius: 3px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

button.btn:hover {
  color: #333;
}

input {
  margin-top: 10px;
  margin-bottom: 8px;
}